{% extends 'base.html.twig' %}

{% block body %}
    <h1>Journal creation</h1>

    <div>
        <a class="btn btn-default" href="{{ path('documents_journal_index') }}">Back to the list</a>
    </div>

    <div class="col-md-3 col-md-offset-4">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
